.Background {
  width: 666px;
  height: 161px;
  border-radius: 4px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 51px; 
}

.Background--8 {
  background-color: #cce5ff;
  margin-top: 18px;
}

.Background--1 {
  background-color: #e7e8ea;
}

.Background--2 {
  background-color: #d4edda;
}

.Background--3 {
  background-color: #f8d7da;
}

.Background--4 {
  background-color: #fff3cd;
}

.Background--5 {
  background-color: #d1ecf1;
}

.Background--6 {
  background-color: #fefefe;
}

.Background--7 {
  background-color: #d6d8d9;
}

.well{
  font-weight: bold;
  line-height: 1.21; 
  font-size: 24px;
  margin-top: 10px;
  margin-left: 13px;
  text-align: left;
  font-family: 'Lato';
  margin-top: 1px;
}

.well--1 {
	color: #464a4e;
}

.well--2 {
	color: #155724;
}

.well--3 {
	color: #721c24;
}

.well--4 {
	color: #856404;
}

.well--5 {
	color: #0c5460;
}

.well--6 {
	color: #818182;
}

.well--7 {
	color: #1b1e21;
}

.well--8 {
	color: #004085;
}
.text {
  width: 543px;
  height: 109px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  margin-left: 13px;
}

.text--1 {
	color: #004085;
}

.text--2 {
	color: #464a4e;
}

.text--3 {
	color: #155724;
}

.text--4 {
	color: #721c24;
}

.text--5 {
	color: #856404;
}

.text--6 {
	color: #0c5460;
}

.text--7 {
	color: #818182;
}

.text--7 {
	color: #1b1e21;
}

body {
	background-color: #fafafa;

}
a {
	padding: 10px;
}
.path-1 {
  width: 249px;
  height: 100%;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  /*position: fixed; */
}

.Style-Guide {
  width: 76px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}

.Dian-Fauzilah {
  width: 88px;
  height: 15px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
}

.Components {
  width: 86px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 90px;
}

.Rectangle7 {
  width: 248.7px;
  height: 40px;
  background-color: #fafafa;
}

.color {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background color: #fafafa;
  padding: 10px;
}

.Rectangle-7 {
  width: 219px;
  height: 40px;
  background-color: var(--white);
}

.Typography {
  width: 71px;
  height: 18px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 10px;
  margin-top: 10px;
}

.grid {
  /*width: 41px;
  height: 18px; */
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.breadcrumb1 {
  /*width: 28px;
  height: 18px; */
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.alert {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-left: -10px;
}

.alertlarge {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.jumbotron1 {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.cards {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.list {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.tables {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}


.Rectangle-21 {
  width: 1027px;
  height: 1441px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: -317px;
}