@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #fafafa;
}

* {
	font-family: 'Lato';
}
a {
	padding: 10px;
}

.Sidebar {
  width: 250px;
  height: 652px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  margin-top: -8px;
  margin-left: -6px;
  padding-top: 19px;
  position: fixed;
}

.Sidebar__Header--1 {
  width: 76px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-left: 20px;
}

.Sidebar__Header--2 {
  width: 88px;
  height: 15px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Sidebar__Header--3 {
  width: 86px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 15px;
}

/*.Sidebar__menu {
  width: 248.7px;
  height: 40px;
  background-color: #fafafa;
} */

.Sidebar__active--link {
	width: 248.7px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 2.53;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background color: #fafafa;
  padding: 11px 195.7px 11px 20px;
}

.Sidebar__active--link:hover {
  background-color: #fafafa;
} 

.Sidebar__nav--link:hover {
	width: 248.7px;
  height: 40px;
  background-color: #fafafa;
} 

.Rectangle-7 {
  width: 219px;
  height: 40px;
  background-color: var(--white);
}

.Sidebar__nav--link {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 11px 195.7px 11px 20px;
}

.box {
  width: 1036vw;
  max-width: 1036px;
  height: 589px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: -500px;
}