@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #fafafa;
}

* {
  font-family: 'Lato';
}

a{
  text-decoration:none;
}

.active{
  color: #3f7ccc !important;
  background-color: #fafafa;
}

a:hover {
  color: #3f7ccc;
}

.active a {
  color: #3f7ccc !important;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}
.form-group {
    margin-bottom: 1rem;
    width: 600px;
}

.form-control {
    display: block;
    width: 600px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #818a91;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control--1 {
  border-radius: 4px;
  background-color: #dddddd !important;
  height: 38px;
  color: #55595c;
  margin-bottom: 58px;
}

.form-control--2 {
  width: 399px;
  height: 53px;
  color: #373a3c !important;
}

.form-control--3 {
  width: 399px;
  height: 28px;
  color: #373a3c !important;
  margin-top: 9px;
}

.form-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #818a91;
}

.file-input {
  width: 109px;
  height: 34px;
  background-color: #fff;
  font-size: 16px;
  color: #373a3c;
}

.ellipse {
width: 15px;
  height: 15px;
  background-color: var(--white);
}

.text {
  font-size: 14px;
  line-height: 1.29;
  margin-top: 8px;
  color: #818a91;
}

.static {
  font-size: 16px;
  color: #777777;
  line-height: 1.13;
}

.btn {
  width: 99px;
  height: 35px;
  border-radius: 4px;
  background-color: #1c7cd5;
  color: #fff;
  margin-bottom: 38px;
}

.form-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: .5rem!important;
}
/*.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
} */

.custom-select {
    display: inline-block;
    width: 200px;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-group{
  width: 42px;
  height: 38px;
  background-color: var(--silver);
}

.text {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #818a91;
  margin-left: 20px;
}

.text--1 {
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: #777777;
  margin-left: 66px;
}

.text--2 {
font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #818a91;
}

.text--3 {
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: #55595c;
  margin-left: 16px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 235px;
    margin-top: 35px;
}

.input-group--1 {
    margin-left: 30px;
}

.input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.row {
  display: flex;
    flex-wrap: nowrap;
}



.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 600px;
    flex: 0 0 600px;
    max-width: 600px;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #28a745;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #cb2e25;
}

.custom-select.is-vali, .form-control.is-vali, .was-validated .custom-select:vali, .was-validated .form-control:vali {
    border-color: #ee9800;
}



.form-control--4 {
    width: 399px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.valid-feedback {
    margin-top: .25rem;
    font-size: 16px;
    color: #28a745;
}

.valid-feedback--1 {
    margin-top: .25rem;
    font-size: 16px;
    color: #ee9800;
}

.valid-feedback--2 {
    margin-top: .25rem;
    font-size: 16px;
    color: #cb2e25;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 46px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label {
    margin-bottom: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
    margin-top: 46px;
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 271px;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
    margin-top: 39px;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 271px;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}

.Sidebar__nav--link:hover {
  width: 100%;
  background-color: #fafafa;
} 

.Sidebar--menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Sidebar {
  width: 250px;
  height: 873px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  margin-top: -8px;
  margin-left: -6px;
  padding-top: 19px;
}

.Sidebar__Header--1 {
  width: 76px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-left: 20px;
}

.Sidebar__Header--2 {
  width: 88px;
  height: 15px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Sidebar__Header--3 {
  width: 86px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.Sidebar__nav--link:hover {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  padding: 11px 20px;
  background-color: #fafafa;
}

.Sidebar__nav--link {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 11px 20px;
}

.box {
  width: 693px;
  max-width: 1036px;
  height: 2057px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: -668px;
  padding-top: 49px;
  padding-left: 47px;
}