@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #fafafa;
}

* {
	font-family: 'Lato';
}

a{
  text-decoration:none;
}

* {
  font-family: 'Lato';
}

a:hover {
  color: #3f7ccc;
}

.active{
  color: #3f7ccc !important;
  background-color: #fafafa;
}

.active a {
  color: #3f7ccc !important;
}

.Sidebar__nav--link:hover {
  background-color: #fafafa;
  width: 100%;
} 
.Sidebar--menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Sidebar {
  width: 250px;
  height: 873px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  margin-top: -8px;
  margin-left: -6px;
  padding-top: 19px;
}

.Sidebar__Header--1 {
  width: 76px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-left: 20px;
}

.Sidebar__Header--2 {
  width: 88px;
  height: 15px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Sidebar__Header--3 {
  width: 86px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.Sidebar__nav--link:hover {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  padding: 11px 20px;
  background-color: #fafafa;
}

.Sidebar__nav--link {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 11px 20px;
}

.box {
  width: 1036vw;
  max-width: 1036px;
  height: 589px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin: 40px 30px;
}