@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #fafafa;

}
a {
	padding: 10px;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}

.row {
  display: flex;
}

.col-4 {
  width: 33.333333%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


.card-body{
  width: 252px;
  height: 53px;
  background-color: transparent;
  border: 1px solid #dddddd;
  padding-right: 10px;
  padding-left: 21px;
  padding-bottom: 24px;
  font-size: 16px;
  text-align: left;
}

.bg {
  width: 400px;
  height: 149px;
  background-color: #1c7cd5;
  border: 1px solid #dddddd;
  padding-right: 10px;
  padding-left: 21px;
  padding-bottom: 24px;
  font-size: 16px;
  text-align: left;
}

.cardbody{
  width: 400px;
  height: 149px;
  background-color: transparent;
  border: 1px solid #dddddd;
  padding-right: 10px;
  padding-left: 21px;
  padding-bottom: 24px;
  font-size: 16px;
  text-align: left;
}

.bg1 { 
background-color: #1c7cd5;
}

.bg2 {
  background-color: #e2eed8;
  color: #3c763d;
}

.bg3 {
  background-color: #dcedf6;
  color: #31708f;
}

.bg4 {
  background-color: #fcf7e4;
  color: #8a6d3b;
}

.bg5 {
   background-color: #efdfdf;
   color: #a94442;
}

.badge-secondary {
  color: #fff;
  background-color: #777777;
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  vertical-align: baseline;
}

.textheader {
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 65px;
}

.textheader1 {
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
  margin-left: 65px;
}

.mb-1 {
  height: 24px;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
} 

.mb-2 {
  height: 24px;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
} 

.textfooter {
  width: 165px;
  height: 16px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.list-body {
  width: 360px;
  height: 46px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
} 

.body {
 color: #373a3c; 
}

.textfooter1 {
  width: 165px;
  height: 16px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.Sidebar {
  width: 249px;
  height: 790px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  position: fixed;
  margin-top: -38px;
  margin-left: -7px;
}

.Sidebar__Header--1 {
  width: 76px;
  height: 19px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-left: 20px;
}

.Sidebar__Header--2 {
  width: 88px;
  height: 15px;
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Sidebar__Header--3 {
  width: 86px;
  height: 19px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.Sidebar__menu {
  width: 248.7px;
  height: 40px;
  background-color: #fafafa;
}

.Nav__active--link {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 2.53;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background color: #fafafa;
  padding: 10px;
  margin-left: 12px;
}

.Rectangle-7 {
  width: 219px;
  height: 40px;
  background-color: var(--white);
}

.Sidebar__nav--link {
  width: 71px;
  height: 18px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 10px;
  margin-top: 10px;
  margin-left: 12px;
}

.Sidebar__nav--link:hover {
  color:#fff;
  text-shadow:
    0px 1px 0px #3f7ccc,
    0px 0px 3px #3f7ccc,
    0px 0px 5px #3f7ccc,
    0px 0px 30px #3f7ccc,
    0px 3px 50px #3f7ccc;
}

.box {
  width: 1027px;
  height: 1041px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: 39px;
  padding-top: 52px;
  padding-left: 58px;
}