* {
	box-sizing: border-box;
}

.list {
  width: 252px;
  height: 52px;
  background-color: var(--white);
  margin-top: 52px;
  margin-left: 58px;
}

.list--1 {
  width: 252px;
  height: 53px;
  margin-left: 337px;
  margin-top: -53px;
}

.list--2 {
  width: 252px;
  height: 53px;
  margin-left: 667px;
  margin-top: -103px;
}

.list--3 {
  width: 319.2px;
  height: 53px;
  margin-top:272px;
}

.list--4 {
  width: 400px;
  height: 149px;
  margin-top:182px;
}

body {
	background-color: #fafafa;

}
a {
	padding: 10px;
}
.path-1 {
  width: 249px;
  height: 790px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  position: fixed;
  margin-top: -38px;
}

.Style-Guide {
  width: 76px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}

.Dian-Fauzilah {
  width: 88px;
  height: 15px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
}

.Components {
  width: 86px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 90px;
}

.Rectangle7 {
  width: 248.7px;
  height: 40px;
  background-color: #fafafa;
}

.color {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background color: #fafafa;
  padding: 10px;
}

.Rectangle-7 {
  width: 219px;
  height: 40px;
  background-color: var(--white);
}

.Typography {
  width: 71px;
  height: 18px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 10px;
  margin-top: 10px;
}

.grid {
  /*width: 41px;
  height: 18px; */
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.breadcrumb1 {
  /*width: 28px;
  height: 18px; */
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.alert {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.alertlarge {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.jumbotron1 {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.cards {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.list {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.tables {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.forms {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.input-group {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.navs {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.navbar {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.Rectangle-21 {
  width: 1027px;
  height: 1041px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: 39px;
  padding-top: 52px;
  padding-left: 58px;
}

.alert {
	margin-left: -10px;
}

.list {
	margin-left: -0px;
}