@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #fafafa;
}

a {
  padding: 10px;
}

.square {
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 128%;
  max-height: 200px;
  margin-bottom: .5rem;
}

.square > div {
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 68%;
  max-height: 200px;
  margin: 12px;
  margin-bottom: 29vh;
} 

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col-2 {
  width: 16.666667%;
  text-align: center;
  /*padding-left: 15px;
  padding-right: 15px;*/
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}


.square--color-1 { 
  background-color: #373a3c;
  width: 200vw;
  height: 200vh;
}

.square--color-2 {
  width: 200vw;
  height: 200vh;
  background-color: #55595c;
}

.square--color-3 {
  width: 200vw;
  height: 200vh;
  background-color: #777777;
}

.square--color-4 {
  width: 200vw;
  height: 200vh;
  background-color: #818a91;
}

.square--color-5 {
  width: 200vw;
  height: 200vh;
  background-color: #dddddd;
  border: 1px solid #373a3c;
}

.square--color-6 {
  width: 200vw;
  height: 200vh;
  background-color: #eceeef;
  border: 1px solid #373a3c;
}

.square--color-7 {
  width: 200vw;
  height: 200vh;
  background-color: #1c7cd5;
}

.square--color-8 {
  width: 200vw;
  height: 200vh;
  background-color: #5cb85c;
}

.square--color-9 {
  width: 200vw;
  height: 200vh;
  background-color: #56c0e0;
}

.square--color-10 {
  width: 200vw;
  height: 200vh;
  background-color: #f0ad4e;
}

.square--color-11 {
  width: 200vw;
  height: 200vh;
  background-color: #d9534f;
}

.square--color-12 {
  width: 200vw;
  height: 200vh;
  background-color: #dcedf6;
  border: 1px solid #373a3c;
}
.square--color-13 {
  width: 200vw;
  height: 200vh;
  background-color: #e2eed8;
  border: 1px solid #373a3c;
}

.square--color-14 {
  width: 200vw;
  height: 200vh;
  background-color: #fcf7e4;
  border: 1px solid #373a3c;
}

.square--color-15 {
  width: 200vw;
  height: 200vh;
  background-color: #efdfdf;
  border: 1px solid #373a3c;
}

.Sidebar {
  width: 249px;
  height: 790px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  margin-top: -36px;
  margin-left: -7px;
  position: fixed;
}

.Sidebar__Header--1 {
  width: 76px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}

.Sidebar__Header--2 {
  width: 88px;
  height: 15px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
}

.Sidebar__Header--3 {
  width: 86px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 90px;
}

.Sidebar__menu {
  width: 248.7px;
  height: 40px;
  background-color: #fafafa;
}

.Nav__active--link {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background color: #fafafa;
  padding: 10px;
}


.Rectangle-7 {
  width: 219px;
  height: 40px;
  background-color: var(--white);
}

.Sidebar__nav--link {
  width: 71px;
  height: 18px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 10px;
  margin-top: 10px;
}

.Sidebar__nav--link:hover {
  color:#fff;
  text-shadow:
    0px 1px 0px #3f7ccc,
    0px 0px 3px #3f7ccc,
    0px 0px 5px #3f7ccc,
    0px 0px 30px #3f7ccc,
    0px 3px 50px #3f7ccc;
}

.box {
  width: 100%;
  height: 740px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 286px;
  margin-top: 37px;
  padding: 20px; 
  margin-bottom: 44px;
  margin-right: 40px; 
  max-width: 1036px;
}