
   
.square {
  display: flex;
  width: 100%;
}

.square > div {
   width: 200px;
  height: 200px;
  margin: 12px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: inline-block;
} 

.square--square-1 { 
  background-color: #373a3c;
}

.square--square-28 {
  background-color: #55595c;
}

.square--square-17 {
  background-color: #777777;
}

.square--square-2 {
  background-color: #818a91;
}

.square--square-23 {
  background-color: #dddddd;
}

.square--square-8 {
  background-color: #eceeef;
}

.square--square-13 {
  background-color: #5cb85c;
}

.square--square-14 {
  background-color: #56c0e0;
}

.square--square-15 {
  background-color: #f0ad4e;
}

.square--square-16 {
  background-color: #d9534f;
}

.square--square-43 {
  background-color: #dcedf6;
}

.square--square-48 {
  background-color: #1c7cd5;
}
.square--square-44 {
  background-color: #e2eed8;
}

.square--square-46 {
  background-color: #fcf7e4;
}

.square--square-47 {
  background-color: #efdfdf;
}