@import url('https://fonts.googleapis.com/css?family=Lato');


* {
	font-family: 'Lato';
	box-sizing: border-box;
}

a{
	text-decoration:none;
}

.active{
  color: #3f7ccc !important;
  background-color: #fafafa;
}

a:hover {
  color: #3f7ccc;
}

.active a {
  color: #3f7ccc !important;
}

body {
	padding-right: 100px;
	background-color: #fafafa;
	overflow-y: auto;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-left: 56px;
  margin-top: 72px;
}

.table th, .table td {
  padding: .75rem;
  text-align: left;
  border-top: 1px solid #ddd;
  vertical-align: top;
}

.table-dark {
    color: #fff;
    background-color: #373a3c;
}

.table-dark thead th {
    border-color: #ddd;
}

.thead-dark {
  background-color: #373a3c;
  color: #fff;
}

.thead-light {
  background-color: #eceeef;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}

.table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,0.15);
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-dark.table-bordered {
    border: 0;
}
.table-dark {
    color: #fff;
    background-color: #212529;
}

.table-sm td, .table-sm th {
    padding: .3rem;
}
.table-secondary {
	width: 776px;
	background-color: #f5f5f5;
}

.table-success {
width: 776px;
  height: 39.8px;
  background-color: #def0d7;
}

.table-info {
	width: 776px;
  height: 39.8px;
  background-color: #d8edf7;
}

.table-warning {
width: 776px;
  height: 39.8px;
  background-color: #fdf8e3;
}

.table-danger {
	 width: 776px;
  height: 39.8px;
  background-color: #f2dedf;
}

.bg-primary {
	width: 776px;
  height: 39.8px;
  background-color: #1c7cd5;
}

.bg-success {
	width: 776px;
  height: 39.8px;
  background-color: #74b05d;
}

.bg-info {
	width: 776px;
  height: 39.8px;
  background-color: #70bedb;
}

.bg-warning {
	width: 776px;
  height: 39.8px;
  background-color: #f0ad4e;
}

.bg-danger {
	width: 776px;
  height: 39.8px;
  background-color: #cc6257;
} 
/*.table {
	margin-left: 56px;
	margin-top: 72px;
} */
.Sidebar__nav--link:hover {
  width: 100%;
  background-color: #fafafa;
} 

.Sidebar--menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Sidebar {
  width: 249px;
  height: 790px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  position: fixed;
  margin-top: -40px;
  margin-left: -6px;
}

.Sidebar__Header--1 {
  width: 76px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-left: 20px;
  padding-top: 19px;
}

.Sidebar__Header--2 {
  width: 88px;
  height: 15px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

.Sidebar__Header--3 {
  width: 86px;
  height: 19px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.Sidebar__nav--link:hover {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  padding: 11px 20px;
  background-color: #fafafa;
}

.Sidebar__nav--link {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 11px 20px;
}

.box {
  width: 1015px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: 41px;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 72px;
}