body {
    font-family: 'Lato';font-size: 22px;
}

.Typography {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; 
  letter-spacing: normal; 
  text-align: left;
  color: #373a3c;
  margin-bottom: 31px;
}

.h--1 {
  font-size: 40px; 
  line-height: 1.23;
  margin-top: 48px;
}

.h--2 {
  font-size: 32px;
  line-height: 1.22;
}

.h--3 {
  font-size: 28px;
  line-height: 1.21;
}

.h--4 {
  font-size: 24px;
  line-height: 1.21;
}

.h--5 {
  font-size: 20px;
  line-height: 1.25;
}

.h--6 {
  font-size: 16px;
  line-height: 1.19;
}
.Fancy {
  display: flex;
  margin-top: 89px;
  margin-bottom: 50px;
}
.text-style-1 {
  font-size: 20px;
  color: #373a3c;
  margin-top: 32px;
}

.text-style-1 {
  color: #818a91;
}

.paragraph {
  line-height: 1.5;
  color: #373a3c;
  font-size: 20px;
  margin-bottom: 20px;
}

.ul--default {
  color: #373a3c;
  font-size: 16px;
}

.ul--circle {
  list-style-type: circle;
  color: #373a3c;
  margin-left: 51px;
  margin-top: -16px;
  font-size: 16px;
}

.Twitter {
  width: 186px;
  height: 163px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-left: 497px;
  margin-top: -72px;
}

.Twitter-Inc {
  font-weight: bold;
}

.Twitter-Inc1 {
  color: #1c7cd5;
}

.Display{
  margin-left: 805px;
  margin-top: -1000px;
}

.Display--1 {
  font-size: 96px;
  line-height: 1.19;
}

.Display--2 {
  font-size: 88px;
  line-height: 1.19;
}

.Display--3 {
  font-size: 79px;
  line-height: 1.19;
}

.Display--4 {
  font-size: 61px;
  line-height: 1.2;
}

.line {
  border-left: 6px solid silver;
  /* height: 112px; */
  margin-left: 814px;
  margin-top: 123px;
}
.Blockquote {
  width: 623px;
  height: 58px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  margin-left: 45px;
  margin-top: 75px;
  margin-right: 1px;
}

.someone {
  width: 290px;
  height: 23px;
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #818a91;
  margin-left: 82px;
  margin-top: 15px;
}

.hr1 {
  width: 21px;
  margin-left: 47px;
  margin-top: -10px;
}

.Line-1 {
  width: 23px;
  height: 0;
  color: #95989a;
}

.Blockquote1 {
  width: 623px;
  height: 58px;
  font-size: 20px;
  line-height: 1.5;
  text-align: right;
  color: #373a3c;
  margin-left: -668px;
  margin-top: 75px;
  margin-right: 1px;
}

.someone1 {
  width: 290px;
  height: 23px;
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #818a91;
  margin-left: -353px;
  margin-top: 15px;
}

.line1 {
  border-left: 6px solid silver;
  height: 112px; 
  margin-left: 1439px;
  margin-right: 100px;
  margin-top: 56px;
}

.hr {
  width: 21px;
  margin-left: -65px;
  margin-top: -10px;
}

body {
  background-color: #fafafa;

}
a {
  padding: 10px;
}
.Path-1 {
  width: 249px;
  height: 790px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff; 
  position: fixed;
}

.Style-Guide {
  width: 76px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}

.Dian-Fauzilah {
  width: 88px;
  height: 15px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 20px;
}

.Components {
  width: 86px;
  height: 19px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 90px;
}

.Rectangle7 {
  width: 248.7px;
  height: 40px;
  background-color: #fafafa;
}

.color {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background color: #fafafa;
  padding: 10px;
}

.Rectangle-7 {
  width: 219px;
  height: 40px;
  background-color: var(--white);
}

.Typography1 {
  width: 71px;
  height: 18px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  padding: 10px;
  margin-top: 10px;
}

.grid {
  /*width: 41px;
  height: 18px; */
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.breadcrumb {
  /*width: 28px;
  height: 18px; */
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.alert {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.alertlarge {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.jumbotron1 {
font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.Rectangle-21 {
  width: 1469px;
  height: 1060px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-left: 291px;
  margin-top: -177px;
}