body {
    font-family: 'Lato';font-size: 22px;
}

.Typography {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; 
  letter-spacing: normal; 
  text-align: left;
  color: #373a3c;
}

.h--1 {
  font-size: 40px; 
  line-height: 1.23;
}

.h--2 {
  font-size: 32px;
  line-height: 1.22;
}

.h--3 {
  font-size: 28px;
  line-height: 1.21;
}

.h--4 {
  font-size: 24px;
  line-height: 1.21;
}

.h--5 {
  font-size: 20px;
  line-height: 1.25;
}

.h--6 {
  font-size: 16px;
  line-height: 1.19;
}
.Fancy {
  display: flex;

}
.text-style-1 {
  font-size: 28px;
  color: #373a3c;
  margin-top: 28px;
}


.text-style-1 {
  color: #818a91;
}

.paragraph {
  line-height: 1.5;
  color: #373a3c;
  font-size: 20px;
}

.ul--default {
  color: #373a3c;
  font-size: 16px;
}

.ul--circle {
  list-style-type: circle;
  color: #373a3c;
  margin-left: 51px;
  margin-top: -16px;
  font-size: 16px;
}

.Twitter {
  width: 186px;
  height: 163px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-left: 497px;
  margin-top: -72px;
}

.Twitter-Inc {
  font-weight: bold;
}

.Twitter-Inc1 {
  color: #1c7cd5;
}

.Display{
  margin-left: 805px;
  margin-top: -954px;
}

.Display--1 {
  font-size: 96px;
  line-height: 1.19;
}

.Display--2 {
  font-size: 88px;
  line-height: 1.19;
}

.Display--3 {
  font-size: 79px;
  line-height: 1.19;
}

.Display--4 {
  font-size: 61px;
  line-height: 1.2;
}

.line {
  border-left: 6px solid silver;
  /* height: 112px; */
  margin-left: 814px;
  margin-top: 123px;
}
.Blockquote {
  width: 623px;
  height: 58px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  margin-left: 45px;
  margin-top: 75px;
  margin-right: 1px;
}

.someone {
  width: 290px;
  height: 23px;
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #818a91;
  margin-left: 82px;
  margin-top: 15px;
}

.hr1 {
  width: 21px;
  margin-left: 47px;
  margin-top: -10px;
}

.Line-1 {
  width: 23px;
  height: 0;
  color: #95989a;
}

.Blockquote1 {
  width: 623px;
  height: 58px;
  font-size: 20px;
  line-height: 1.5;
  text-align: right;
  color: #373a3c;
  margin-left: -668px;
  margin-top: 75px;
  margin-right: 1px;
}

.someone1 {
  width: 290px;
  height: 23px;
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #818a91;
  margin-left: -353px;
  margin-top: 15px;
}

.line1 {
  border-left: 6px solid silver;
  height: 112px; 
  margin-left: 1439px;
  margin-right: 100px;
  margin-top: 56px;
}

.hr {
  width: 21px;
  margin-left: -65px;
  margin-top: -10px;
}